n8n-workflows/2-booking-status-changed.json
{
  "name": "Booking Status Changed - Email Customer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-status-changed",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "booking-status-changed"
    },
    {
      "parameters": {
        "jsCode": "const status = $input.first().json.newStatus;\nif (status === 'CONFIRMED') {\n  return [{ json: { ...($input.first().json), route: 'CONFIRMED' } }];\n} else if (status === 'CANCELLED') {\n  return [{ json: { ...($input.first().json), route: 'CANCELLED' } }];\n}\nreturn [];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.route }}",
              "rightValue": "CONFIRMED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "If Confirmed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.booking.customerEmail }}",
        "subject": "=Your booking is confirmed! - {{ $json.restaurant.name }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; max-width: 600px; margin: 0 auto; padding: 40px 20px;\"><div style=\"text-align: center; margin-bottom: 30px;\"><div style=\"display: inline-block; width: 60px; height: 60px; border-radius: 50%; background: #D1FAE5; line-height: 60px; font-size: 28px;\">&#x2705;</div></div><h1 style=\"text-align: center; color: #1a1a1a; font-size: 24px; margin-bottom: 8px;\">Booking Confirmed!</h1><p style=\"text-align: center; color: #16a34a; font-weight: 600; margin-bottom: 30px;\">Your reservation at {{ $json.restaurant.name }} has been confirmed.</p><div style=\"background: #F0FDF4; border: 1px solid #BBF7D0; border-radius: 12px; padding: 24px; margin-bottom: 24px;\"><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Guest</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.customerName }}</td></tr><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Date and Time</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.startTime }}</td></tr><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Party Size</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.partySize }} guests</td></tr></table></div><p style=\"text-align: center; color: #666; font-size: 14px;\">We look forward to seeing you!</p><hr style=\"border: none; border-top: 1px solid #eee; margin: 24px 0;\"><p style=\"color: #aaa; font-size: 11px; text-align: center;\">{{ $json.restaurant.name }}<br>{{ $json.restaurant.email }}</p></div>",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Email Confirmed",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 180]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.booking.customerEmail }}",
        "subject": "=Booking cancelled - {{ $json.restaurant.name }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; max-width: 600px; margin: 0 auto; padding: 40px 20px;\"><div style=\"text-align: center; margin-bottom: 30px;\"><div style=\"display: inline-block; width: 60px; height: 60px; border-radius: 50%; background: #FEE2E2; line-height: 60px; font-size: 28px;\">&#x274C;</div></div><h1 style=\"text-align: center; color: #1a1a1a; font-size: 24px; margin-bottom: 8px;\">Booking Cancelled</h1><p style=\"text-align: center; color: #dc2626; font-weight: 600; margin-bottom: 30px;\">Your reservation at {{ $json.restaurant.name }} has been cancelled.</p><div style=\"background: #FEF2F2; border: 1px solid #FECACA; border-radius: 12px; padding: 24px; margin-bottom: 24px;\"><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Guest</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.customerName }}</td></tr><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Date and Time</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.startTime }}</td></tr><tr><td style=\"padding: 8px 0; color: #888; font-size: 12px; text-transform: uppercase;\">Party Size</td><td style=\"padding: 8px 0; font-weight: 600; text-align: right;\">{{ $json.booking.partySize }} guests</td></tr></table></div><p style=\"text-align: center; color: #666; font-size: 14px;\">If this was a mistake, please contact us at {{ $json.restaurant.email }}.</p><hr style=\"border: none; border-top: 1px solid #eee; margin: 24px 0;\"><p style=\"color: #aaa; font-size: 11px; text-align: center;\">{{ $json.restaurant.name }}</p></div>",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Email Cancelled",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "If Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Confirmed": {
      "main": [
        [
          {
            "node": "Email Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "booking"
    }
  ]
}
