n8n-workflows/5-availability-reminder.json
{
  "name": "Weekly Availability Reminder — Email All Staff",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://yourdomain.com/api/staff",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "slug", "value": "mario-ristorante" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "=YOUR_SESSION_COOKIE_OR_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "fetch-staff",
      "name": "Fetch Staff List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter active staff and build email items\nconst data = $input.first().json;\nconst staff = (data.staff || data).filter(s => s.isActive !== false);\nconst baseUrl = 'https://yourdomain.com';\n\nreturn staff.map(s => ({\n  json: {\n    name: s.name,\n    email: s.email,\n    token: s.availabilityToken,\n    link: `${baseUrl}/staff-availability/${s.availabilityToken}`,\n    subject: '📋 Please submit your availability for next week'\n  }\n}));"
      },
      "id": "build-items",
      "name": "Build Email Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fromEmail": "=noreply@yourdomain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "=<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:600px;margin:0 auto;padding:40px 20px;\">\n  <h2>📋 Availability Reminder</h2>\n  <p>Hi {{ $json.name }},</p>\n  <p>Please submit your availability for <strong>next week</strong> by <strong>Wednesday</strong>.</p>\n  <p style=\"margin:30px 0;\"><a href=\"{{ $json.link }}\" style=\"display:inline-block;background:#ea580c;color:white;padding:14px 28px;border-radius:8px;text-decoration:none;font-weight:600;font-size:16px;\">👉 Submit Availability</a></p>\n  <p style=\"color:#888;font-size:13px;\">If you don't submit by Wednesday, you may not be scheduled.</p>\n  <hr style=\"border:none;border-top:1px solid #eee;margin:24px 0;\">\n  <p style=\"color:#aaa;font-size:11px;\">This is an automated reminder from the shift planning system.</p>\n</div>",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Email Staff",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Every Monday 9am": {
      "main": [
        [{ "node": "Fetch Staff List", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Staff List": {
      "main": [
        [{ "node": "Build Email Items", "type": "main", "index": 0 }]
      ]
    },
    "Build Email Items": {
      "main": [
        [{ "node": "Email Staff", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "shifts" }]
}
